fastapi
uvicorn
python-multipart
pydantic
python-dotenv
pypdf
pymupdf
pdfplumber
openai
langchain
langchain-core
langchain-community
chromadb
sentence-transformers
langchain-text-splitters
streamlit
pandas
PyJWT
python-jose[cryptography]
passlib[bcrypt]
